# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code / IDE
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# OS
Thumbs.db
.DS_Store
